<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta  charset = " UTF-8 " />
    <meta  http-Equiv = " X-UA-Compatible "  content = " IE = edge " />
    <meta  name = " viewport "  content = " width = device-width, initial-scale = 1.0 " />
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" media="all"/>
    <link rel="shortcut icon" href="{{ asset('/image/favicon.ico') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title > Фадеева Татьяна </title>
  <body>
    <div class="background">
        <img src = " {{ asset('image/background.jpg') }} "  alt="fon" />
    </div>
    <h1 class="FIO">Фадеева Татьяна Александровна</h1>
    <div class="content">
      <div class="content__first">
        <div class="first__foto">
          <img src="{{ asset('image/me1.jpg') }} "  alt = "Моя фотография"/>
        </div>
        <div class="contacts">
          <p class="contacts__title title">Контактная информация</p>
          <ul>
            <li ><a class="list__link" href = "https://vk.com/bright.fire" target="_blank"> Страница ВКонтакте </a></li>
            <li><a class="list__link" href="mailto:tatianafadeevaalek@gmail.com">Электронная почта</a></li>
            <li>Телефон: 89278818007</li> 
          </ul>
        </div>
        <div class="local">
          <p class="local__title title">Мои любимые места в РМЭ</p>
          <ol>
            <li>Табашинское озеро</li>
            <li>Национальный парк "Марий Чодра" </li>
            <li>Сосновая роща</li> 
          </ol>
        </div>
      </div>
    <div class="secondTask">
    <div class="Hobbie">
      {% for hobbie in hobbies %} 
          <h2 class="title" >{{ hobbie.title }}</h2>
          <div class="slider" id="slider-{{ hobbie.title }}">
            <div class="slider__elements">
              {% for photo in hobbie.photos %}
                <div class="slider-item item-{{ loop.index }}">
                  <img src="{{ photo }}" alt="NotFound" class="slide-img">
                </div>
              {% endfor %}
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
  <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
  <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
  <script type="text/javascript" src="{{ asset('build/vendors-node_modules_core-js_modules_es_array_for-each_js-node_modules_core-js_modules_es_num-53feb8.js') }}"></script>
</body>
</html>  